/* CONTAINER PRINCIPAL */
.toast-box {
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-padding: 10 16;
    -fx-spacing: 12;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.20), 8, 0, 0, 3);
}

.toast-icon-circle {
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-background-radius: 50%;
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.toast-message {
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.toast-close-btn {
    -fx-font-size: 14px;
    -fx-text-fill: #888;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.toast-close-btn:hover {
    -fx-text-fill: #333;
}

.toast-progress-container {
    -fx-pref-height: 4px;
    -fx-min-height: 4px;
    -fx-max-height: 4px;
}

.toast-progress {
    -fx-pref-height: 4px;
    -fx-min-height: 4px;
    -fx-max-height: 4px;
    -fx-background-radius: 0 0 6 6;
}

.toast-success .toast-progress { -fx-background-color: #2ecc71; }
.toast-error   .toast-progress { -fx-background-color: #e74c3c; }
.toast-warning .toast-progress { -fx-background-color: #f1c40f; }
.toast-info    .toast-progress { -fx-background-color: #3498db; }



/* ====== CORES POR TIPO ====== */

/* SUCCESS */
.toast-success .toast-icon-circle {
    -fx-background-color: #2ecc71;
}

/* ERROR */
.toast-error .toast-icon-circle {
    -fx-background-color: #e74c3c;
}

/* WARNING */
.toast-warning .toast-icon-circle {
    -fx-background-color: #f1c40f;
    -fx-text-fill: black;
}

/* INFO */
.toast-info .toast-icon-circle {
    -fx-background-color: #3498db;
}
